.container_principal {
    display: flex;
    justify-content: center;
}

.container_sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stickers {
    height: 15em;
    width: 10em;
}

input {
    height: 2em;
    width: 7.5em;
}

#respuesta {
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

button {
    height: 2em;
    width: 5em;

}


